/* Main Menu */
.selectionMenu{
    display: flex;
    margin-top: 100px;
}

.mainTitle{
    text-align: center;
}

.textBox{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
}
.content{
    text-align: center;
}

.subnavMainRight { 
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 10px;
    overflow-x: hidden;
    margin-top: 15vw;
}
.selectorMenuMain {
    display: flex;
    flex-direction: column-reverse;
}
.subnavMainRight a {
  margin-top: 1vw;
  color: #535353;
  display: block;
  max-width: 32px;
  max-height: 32px;
}
.calBtn{
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(181, 203, 223);  
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 8vh;
}

.subnavMainRight a:hover {
  background-color: #691919;
}
/* --------- */

/* Modal Box */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
/* --------- */
/* TEMPLATE SOME */

 body{
    background-color: rgb(181, 203, 223);
}
.subnav {
    display: flex;
    width: 100%;
    margin-top: 2vw;
}

.title {
    margin: auto;
    font-size: 3vw;
}

.icon {
    position: fixed;
}

.schedule {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 4vw;
    
}

.paragraph {
    text-align: center;
}

/* #intro {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
}

#toneofvoice {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
}

#content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
}

#opp {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vw;
} */

/* TEMPLATE SOME */




/* SIDENAV */

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-top: 15vw;
  }
  
  .sidenav a {
    padding-top: 2vw;
    padding-left: 1vw;
    text-decoration: none;
    font-size: 1.5vw;
    color: #535353;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* SIDENAV */





  